@import 'tailwindcss';

@theme {
  /* Maks custom colors */
  --color-white: #ffffff;
  --color-offWhite: #e1e7ea;
  --color-lightGrey: #7c8183;
  --color-darkGrey: #242a2e;
  --color-black: #14181a;
}

:root {
  --background: var(--color-offWhite);
  --foreground: var(--color-black);
  --navbar-height: 3.2rem;
}

@media (min-width: 640px) {
  :root {
    --navbar-height: 3.2rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --navbar-height: 4rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-noto-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: var(--color-offWhite);
  }
}

@layer components {
  .social-icon {
    @apply text-gray-400 hover:text-gray-300;
  }


}

img {
  /* Sub pixel rendering fix, men funkar inte riktigt */
  -webkit-backface-visibility: hidden;
}

/* LAYOUT */
html {
  @apply snap-y scroll-pt-32 scroll-smooth;
}

body {
  @apply flex max-h-dvh min-h-dvh flex-col text-pretty antialiased;
  padding-top: var(--navbar-height);
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans);
}

main {
  @apply h-full flex-auto bg-black;
}

footer {
  @apply bg-darkGrey mt-24 px-6 pt-14 sm:pt-20 pb-24 sm:mt-40 lg:px-8;
}

section {
  /* @apply snap-start; */
}

.page {
  @apply flex w-full flex-col;
  @apply gap-8;
  @apply sm:gap-15;
  @apply md:gap-24;
}

.contentWidth {
  @apply mx-auto max-w-7xl px-4 sm:px-8;
}

.halfContentWidth {
  @apply mx-auto w-full px-4 sm:px-8 md:px-0;
  @apply sm:w-2xl;
}

.contents {
  @apply grid grid-cols-2 gap-x-1 gap-y-3;
}

/* TYPOGRAPHY */

/* Titles */
h1,
h2,
h3 {
  @apply font-bold text-pretty;
}

h1 {
  @apply mb-4 text-[2.4rem] sm:mb-10 sm:text-[3.4rem];
}

h2 {
  @apply text-[1.35rem] leading-[1.8rem];
  @apply sm:text-[1.65rem] sm:leading-[2.1rem];
}

h3 {
  @apply text-[1.15rem] sm:text-[1.25rem];
}

/* Paragraphs */

p {
  @apply font-light text-pretty;
}

.p1 {
  @apply text-[1.55rem] leading-[2.1rem];
  @apply sm:text-[1.7rem] sm:leading-[2.4rem];
}

.p2 {
  @apply text-[1.2rem] leading-[1.65rem];
  @apply sm:text-[1.2rem] sm:leading-[1.78rem];
}

.p2Spacing {
  @apply mb-[1.05rem];
}

/* NAVIGATION */

/* Header */
.header {
  @apply relative flex items-center justify-between;
  @apply h-12 gap-3;
  @apply sm:h-12 sm:gap-1;
  @apply lg:h-16 lg:gap-1;
}

/* Drop down menu */
.dropDown {
  @apply flex flex-col focus:outline-none;
  @apply w-full;
  @apply sm:w-50 sm:-translate-x-1;
}

.dropDownItem {
  @apply block items-start text-left;
  @apply bg-darkGrey px-5 pt-3 pb-4;
  @apply border-lightGrey border-t-0 border-b-2;
}

.dropDownMask {
  @apply bg-black/90 h-dvh md:h-0;
}

/* Links */
.nav {
  @apply text-[1.45rem] font-semibold tracking-wide hover:text-white sm:text-[1.1rem];
}

.mobileNav {
  @apply absolute right-0 z-40 mt-2 w-full bg-black sm:right-0 sm:w-1/3 md:w-1/4 xl:hidden;
}

/* Buttons */

.hamburgerButton {
  @apply h-full w-12 min-w-9 focus:outline-none sm:min-w-8;
}

.button {
  @apply bg-offWhite cursor-pointer text-center font-semibold text-black;
  @apply border-r-lightGrey border-b-lightGrey border-4 border-t-white border-l-white;
  @apply max-w-sm px-6 pt-[0.75rem] pb-[0.8rem] text-[1.15rem];
  @apply sm:px-12 sm:pt-[0.54rem] sm:pb-[0.68rem];
}

.button:hover {
  @apply bg-white;
}

.hover {
  @apply underline underline-offset-5;
}

.footerLink:hover {
  @apply sm:text-offWhite;
}

/* SECTIONS */

/* Banner */
.bannerBg {
  @apply h-48 sm:h-86;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bannerBgImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transform: scale(1.8);
  transition: transform 0.3s ease;
}

.bannerLogo {
  @apply absolute bottom-2 left-1/2 h-[36%] w-[90%] sm:bottom-4 sm:h-[30%];
  transform: translateX(-50%);
}

@media (min-width: 640px) {
  .bannerBg {
    @apply h-78;
  }

  .bannerBgImage {
    transform: scale(1);
  }

  .bannerLogo {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 100%;
    height: 35%;
    transform: translateX(-50%);
  }
}

/* Features*/
.features {
  @apply bg-darkGrey text-offWhite;
  @apply flex w-full flex-wrap py-16 md:gap-y-8;
}

/* Fact sheet*/
/* Currently using ugly static grid row fix to get appropriate column count */
.factSheet {
  @apply grid grid-flow-col grid-rows-9 gap-x-24 gap-y-2;
  @apply md:grid-cols-[max-content_1fr] md:grid-rows-5;
  max-width: max-content;
}

/* UTILITY */

.sectionSpacing {
  @apply mt-2 mb-10 sm:mb-20;
}

.menuIcon {
  @apply size-10 sm:size-12;
}

.sectionBg {
  @apply bg-darkGrey flex-wrap py-12 sm:py-18 md:gap-y-8;
}

/* INPUT FIELDS */
.inputField {
  @apply text-darkGrey bg-offWhite cursor-text;
  @apply mt-2 mb-2;
  /* @apply border-4 border-t-lightGrey border-r-white border-b-white border-l-white; */
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  transition: background-color 0.15s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}

.inputField:hover,
.inputField:focus {
  @apply bg-white;
}

.inputFieldPrimary {
  @apply bg-white text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50;
  transition: background-color 0.1s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}

.inputFieldPrimary:hover,
.inputFieldPrimary:focus {
  @apply bg-white;
}

.textareaField {
  min-height: 5rem;
  resize: vertical;
}

.f1 {
  @apply text-lightGrey bg-offWhite mb-4 w-full cursor-pointer px-4 py-3 text-left;
  @apply border-t-lightGrey border-l-lightGrey border-4 border-r-white border-b-white;
}
